watch_file .nvmrc
watch_file .envrc.private

# PATH_add ./bin

if [ -e .envrc.private ]; then
  source_env .envrc.private
fi

# Setup the NodeJS version for this project
export NODE_VERSIONS=~/.nvm/versions/node
export NODE_VERSION_PREFIX=v
use node
layout node
